{% liquid
  assign product_show = section.settings.product_per_page_show
  assign enable_vendor_name = section.settings.enable_vendor_name

  case section.settings.numbre_of_col
    when 2
      assign column_desk = 'col-lg-6 col-md-6 col-12'
    when 3
      assign column_desk = 'col-lg-4 col-md-4 col-12'
    when 4
      assign column_desk = 'col-lg-3 col-md-3 col-12'
    when 6
      assign column_desk = 'col-lg-2 col-md-2 col-12'
    else
      assign column_desk = 'col-lg-4 col-md-4 col-12'
  endcase
%}
<div class="container">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <form class="filter_option_container">
        {%- for filter in collection.filters -%}
          <details class="filter_option">
            <summary>
              <span>{{ filter.label }}</span>

              {%- if filter.active_values.size > 0 -%}
                <span>({{ filter.active_values.size }})</span>
              {%- endif -%}
            </summary>
            <div>
              <div>
                <p>{{ filter.active_values.size }} selected</p>
                {%- if filter.active_values.size > 0 -%}
                  <p><a href="{{ filter.url_to_remove }}">Reset</a></p>
                {%- endif -%}
              </div>
              {%- case filter.type -%}
                {%- when 'boolean' -%}
                  <ul>
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.true_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          {% if filter.true_value.active -%}
                            checked
                          {%- endif %}
                          {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                            disabled
                          {%- endif -%}
                        >
                        {{- filter.true_value.label -}}
                      </label>
                    </li>
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.false_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          {% if filter.false_value.active -%}
                            checked
                          {%- endif %}
                          {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                            disabled
                          {%- endif %}
                        >
                        {{- filter.false_value.label -}}
                      </label>
                    </li>
                  </ul>

                  <div>
                    <input type="submit" value="Apply" class="apply_btn">
                  </div>
                {%- when 'list' -%}
                  <ul>
                    {%- for filter_value in filter.values -%}
                      <li>
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                          <input
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                            {% if filter_value.count == 0 and filter_value.active == false -%}
                              disabled
                            {%- endif %}
                          >
                          <span>
                            {%- case filter_value.display.type -%}
                              {%- when 'colors' -%}
                                {% liquid
                                  assign size_limit = filter_value.display.value.size | at_most: 4
                                  assign rotation = '0deg'
                                  if size_limit == 2
                                    assign rotation = '45deg'
                                  endif

                                  assign angle_increment = 360 | divided_by: size_limit
                                  assign angle = 0
                                %}
                                {%- capture conic_gradient -%}
                            {%- for color in filter_value.display.value limit: size_limit -%}
                              {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                            {%- endfor -%}
                          {%- endcapture -%}
                                <span
                                  style="
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                  "
                                ></span>
                              {%- when 'image' -%}
                                {{
                                  filter_value.display.value
                                  | image_url: width: 25
                                  | image_tag: alt: filter_value.display.value.alt
                                }}
                              {%- else -%}
                                <span class="visual-display__child"></span>
                            {%- endcase -%}
                          </span>
                          {{ filter_value.label }}
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>

                  <div>
                    <input type="submit" value="Apply" class="apply_btn">
                  </div>
                {%- when 'price_range' -%}
                  <div class="filter-group-display__price-range">
                    <div class="filter-group-display__price-range-from">
                      <span>{{ cart.currency.symbol }}</span>

                      <input
                        name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.min_value.param_name }}"
                        {% if filter.min_value.value -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="0"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >

                      <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                    </div>
                    <div class="filter-group-display__price-range-to">
                      <span>{{ cart.currency.symbol }}</span>

                      <input
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.max_value.param_name }}"
                        {% if filter.max_value.value -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      >

                      <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                    </div>
                  </div>

                  <div class="filter-group-display__submit">
                    <input type="submit" value="Apply" class="apply_btn">
                  </div>
              {%- endcase -%}
            </div>
          </details>
        {%- endfor -%}

        <div>
          <p>
            <a href="{{ collection.url }}?sort_by={{ collection.sort_by | default:collection.default_sort_by }}"
              >Clear all</a
            >
          </p>

          {%- for filter in collection.filters -%}
            {%- if filter.type == 'price_range' -%}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <p>
                  <a href="{{ filter.url_to_remove }}">
                    {%- assign min_value = filter.min_value.value | default: 0 -%}
                    {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                    {{ min_value | money }} - {{ max_value | money }} X
                  </a>
                </p>
              {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <p class="filter-remove-text">
                  <a href="{{ filter_value.url_to_remove }}" class="clear_btn">
                    {{ filter.label }}: {{ filter_value.label }} X
                  </a>
                </p>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </form>
    </div>
    <div class="col py-3">
      <div class="collection_template_header">
        <div>
          <p>{{ collection.title }}</p>
          <h3>Total products : {{ collection.all_products_count }}</h3>
        </div>
        <div class="sort-by--container">
          <div class="d-flex">
            <label>Product Sort</label>
            <select id="sort-by" class="sort-by form-control from-control-sm">
              {% for option in collection.sort_options %}
                <option
                  value="{{ option.value }}"
                  {% if option.value == collection.sort_by %}
                    selected
                  {% endif %}
                >
                  {{ option.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="list_collection_template my-5">
        <div class="container">
          <div class="header">
            <div class="collection_product my-3">
              {% paginate collection.products by product_show %}
                <div class="row">
                  {% for product in collection.products %}
                    {%- render 'product-cart',
                      product: product,
                      column: column_desk,
                      enable_vendor_name: enable_vendor_name
                    -%}
                  {% endfor %}
                </div>

                <div class="pagination justify-content-center mt-5">
                  {% render 'pagination-section', paginate: paginate %}
                </div>
              {% endpaginate %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    Shopify.queryParams = {};
  if(location.search.length){
    for(let keyValue, i=0, queries = location.search.substr(1).split('&'); i < queries.length; i++){
      keyValue = queries[i].split('=');
      if(keyValue.length > 1){
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  document.querySelector('.sort-by').addEventListener('change', function(e) {
    let value = e.currentTarget.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type":"header",
      "content":"Product Show Setting"
    },
    {
      "type":"range",
      "id":"product_per_page_show",
      "label":"Product Per Page",
      "min":4,
      "max":24,
      "step":2,
      "default":12
    },
    {
      "type":"header",
      "content":"Product Show On Desktop"
    },
    {
      "type":"range",
      "id":"numbre_of_col",
      "label":"Number of col Show On Desktop",
      "min":2,
      "max":12,
      "step":2,
      "default":6
    }
    ,
    {
      "type":"header",
      "content":"Show Product Vendor"
    },
    {
      "type":"checkbox",
      "id":"enable_vendor_name",
      "label":"Show Product Vendor",
      "default": false
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
