<div class="container">
  <div class="row d-flex">
    <div class="col-md-4">
      <div class="card-deck">
        {% for article in blog.articles %}
          <div class="card">
            <img class="card-img-top" src="{{ article.image|img_url:'original' }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">
                <small class="text-muted">Author : {{ article.author }}</small>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated {{ article.updated_at | date: '%B %d, %Y' }}</small>
              </p>
              <a href="{{ article.url }}" class="btn btn-primary"> Read Details </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
